In [62]:
#IRIS DATA
#Data Preprocessing
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

#2nd step: reading the dataset
df = pd.read_csv('titanic.csv')

In [63]:
#printing data types
print("Data type of Age: ",df.dtypes['Age'])
print("Data type of Fare: ",df.dtypes['Fare'])
print("Data type of SibSp: ",df.dtypes['SibSp'])

Data type of Age:  float64
Data type of Fare:  float64
Data type of SibSp:  int64

In [66]:
#total instances
print("instances in Age",len(df['Age'].value_counts(dropna=True)))
print("instances in SibsSp",len(df['SibSp'].value_counts(dropna=True)))
print("instances in Fare",len(df['Fare'].value_counts(dropna=True)))

instances in Age 88
instances in SibsSp 7
instances in Fare 248

In [68]:
#no of nulls
print("No. of nulls in Age: ",df['Age'].isnull().sum())
print("No. of nulls in Fare: ",df['Fare'].isnull().sum())
print("No. of nulls in SibSp: ",df['SibSp'].isnull().sum())

No. of nulls in Age:  177
No. of nulls in Fare:  0
No. of nulls in SibSp:  0

In [86]:
#no of outliers
num_outliers=0
for i in df.columns:
  if i in ['Age','Fare','SibSp']:
    Q1 = df[i].quantile(0.25)
    Q3 = df[i].quantile(0.75)
    IQR = Q3-Q1
    lower = Q1-1.5*IQR
    higher = Q3+1.5*IQR
    outliers = df[(df[i] < lower) | (df[i] > higher)]
    num_outliers = outliers.shape[0]
    print(f"Number of outliers in {i}: {num_outliers}")

Number of outliers in Age: 11
Number of outliers in SibSp: 46
Number of outliers in Fare: 116

In [91]:
#min values
for i in df.columns:
  if i in ['Age','Fare','SibSp']:
    mini = df[i].dropna().min()
    print(f"Min value in {i} is {mini}")

Min value in Age is 0.42
Min value in SibSp is 0
Min value in Fare is 0.0

In [92]:
#max value
for i in df.columns:
  if i in ['Age','Fare','SibSp']:
    maxi = df[i].dropna().max()
    print(f"Max value in {i} is {maxi}")

Min value in Age is 80.0
Min value in SibSp is 8
Min value in Fare is 512.3292

In [94]:
for i in df.columns:
  if i in ['Age','Fare','SibSp']:
    modee = df[i].mode()
    print(f"Mode value in {i} is {modee}")

Mode value in Age is 0    24.0
Name: Age, dtype: float64
Mode value in SibSp is 0    0
Name: SibSp, dtype: int64
Mode value in Fare is 0    8.05
Name: Fare, dtype: float64

In [95]:
for i in df.columns:
  if i in ['Age','Fare','SibSp']:
    mean = df[i].dropna().mean()
    print(f"Mean value in {i} is {mean}")

Min value in Age is 29.69911764705882
Min value in SibSp is 0.5230078563411896
Min value in Fare is 32.204207968574636

In [96]:
for i in df.columns:
  if i in ['Age','Fare','SibSp']:
    med = df[i].dropna().median()
    print(f"Median value in {i} is {med}")

Min value in Age is 28.0
Min value in SibSp is 0.0
Min value in Fare is 14.4542

In [100]:
for i in df.columns:
  if i in ['Age','Fare','SibSp']:
    vari = df[i].dropna().var()
    print(f"varience in {i} is {vari}")

varience in Age is 211.0191247463081
varience in SibSp is 1.2160430774662894
varience in Fare is 2469.436845743117

In [101]:
for i in df.columns:
  if i in ['Age','Fare','SibSp']:
    std = df[i].std()
    print(f"Standard deviation in {i} is {std}")

Standard deviation in Age is 14.526497332334044
Standard deviation in SibSp is 1.1027434322934275
Standard deviation in Fare is 49.693428597180905